<!DOCTYPE html>
<html>
<head>
  <title>InvityDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= "Welcome -- #{current_user[:email]}" if current_user%>
  <br>
  <%= link_to 'Sign In With Facebook', '/auth/facebook'%>
  <br>
  <%= link_to('Friends', invites_path) if current_user%>
  <br>
  <%#= link_to 'Fancy Box', invites_path, class: 'fancybox.ajax invite' %>

<%= yield %>

</body>
</html>
